.app-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.app-layout .file-viewer {
  border-right: solid 1px grey;
  width: 20%;
}

.app-layout .main-panel {
  width: 80%;
}

.app-layout .title {
  text-align: center;
}
.app-layout .audio-player {
  width: 100%;
}
