.main-panel-tabs {
  height: 100%;
}

.audio-player {
  width: 100%;
}

.kv-form .form-group {
  display: flex;
}

.kv-form .kv-form-items {
  display: flex;
  flex-direction: column;
}

.kv-form .kv-form-items .kv-form-item {
  width: 80%;
  border-top: solid 1px grey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
